{{extend 'layout.html'}}
<div class="page-header">
    <h1>Excel File Upload Guide</h1>
</div>
<p>
    Using excel files is a quick and easy way to upload your workouts to the Level Train system.
    Following this guide will ensure that your workout can be successfully uploaded.
    If you have any questions, feel free to email {{=site_name}} administration at {{=site_email}}.
</p>

<div class="panel panel-general">
    <div class="panel-heading">
      <h3 class="panel-title">General</h3>
    </div>
    <div class="panel-body">
        <h4>
            General
        </h4>
        <ul>
            <li>Your spreadsheet data <span>MUST</span> be on Speadsheet1 of the excel file.</li>
            <li>Each section of the workout is separated by a blank line</li>
            <li>Each section of the workout is imported in sequential order (first section assigned A1, second assigned B1, third C1, etc.)</li>
            <li><span>IMPORTANT:</span> The end of the spreadsheet must have a row with a
            <span>*</span> in the first column. This indicates the end of the workout. See the full example below.</li>
        </ul>
        <div class="media">
            #TODO place header pic here
        </div>
        
        #TODO download link
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Headers</h3>
    </div>
    <div class="panel-body">
        The headers specify which columns will be read and understood by the system.
        Headers will be properly be read by the system if they follow these requirements:
        <ul>
            <li>
                The headers <span>MUST</span> all appear on the same line.
            </li>
            <li>
                A blank line <span>MUST</span> appear before the headers,
                unless it is the first line of the spreadsheet.
            </li>
            <li>
                The spelling of any header <span>MUST</span> exactly match one of the following keywords:
                <ul>
                    <li><span>Upper Push</span> - Exercise category</li>
                    <li><span>Upper Pull</span> - Exercise category</li>
                    <li><span>Lower Push</span> - Exercise category</li>
                    <li><span>Lower Pull</span> - Exercise category</li>
                    <li><span>Core</span> - Exercise category</li>
                    <li><span>Weight</span> - If this is set to a number, it will be ignored.
                        Should be empty or set to a word (ex. band, bw, bybar, etc.)
                    <li><span>Exercise</span> - Name of an exercise; all ascii characters accepted</li>
                    <li><span>Set 1</span> - Number of reps for first set of this exercise. (ex. 6, 10R/L, etc.)</li>
                    <li><span>Set 2</span> - Number of reps for second set of this exercise</li>
                    <li><span>Level-Up</span> - Number of reps needed to proceed to next level</li>
                    <li><span>Variance</span> - Percent of client's body weight for this exercise
                        (ex. Body Weight:150lbs & Variance:0.5 -> Weight:75lbs).
                        Used to calculate the weight for this exercise.</li>
                        <ul>
                            <li>You may set this to a specific weight by surrounding with quotes (ex. "10", "12.5")</li>
                            <li>You may also set this to a word (ex. band, bw, bybar, etc.)</li>
                        </ul>
                </ul>
            </li>
            <li>
                Headers of other columns that do not match any of these keywords will be ignored.
            </li>
            <li>
                The order of appearance of these headers does not matter.
            </li>
        </ul>

        <h4>
            Example
        </h4>
        <div class="media">
            #TODO place header pic here
        </div>
    </div>
</div>

<div class="panel panel-categories">
    <div class="panel-heading">
      <h3 class="panel-title">Exercise Categories</h3>
    </div>
    <div class="panel-body">
        The exercise category is typically the first column of a workout.
        It determines which muscle group is used during this set of exercises.
        This column also is used when creating reports of client progress through the {{=site_name}} workout.
        <br /><br />
        These muscle groups are broken up into the following five categories:
        <ul>
            <li>Upper Push</li>
            <li>Upper Pull</li>
            <li>Lower Push</li>
            <li>Lower Pull</li>
            <li>Core</li>
        </ul>
        Any other input category will be ignored.
        <br /><br />
        More information about categories can be found by viewing a client report.
        <h4>
            Example
        </h4>
        <div class="media">
            #TODO place header pic here
        </div>
    </div>
</div>

<div class="panel panel-main">
    <div class="panel-heading">
      <h3 class="panel-title">Main Data</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li>Every row following the headers will be read into the database.</li>
            <li>An empty line <span>MUST NOT</span> appear immediately after a header line.</li>
            <li>Each row indicates a level in ascending order.</li>
            <li>The user is able to import as many levels as they would like for a workout section.</li>
            <li>A blank line signifies the end of a workout section.</li>
            <li>The first level (first row) will be the initial exercise shown to the client.</li>
            <li>You can alter the current level by going to the client's workout page and pressing the arrow buttons.</li>
        </ul>
        <h4>
            Example
        </h4>
        <div class="media">
            #TODO place header pic here
        </div>
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Accessories</h3>
    </div>
    <div class="panel-body">
        On the same line as an exercise for a workout, accessories can be added for pairing exercises together.
        The headers for these accessories <span>MUST</span> be on the same line as regular exercises, and the following keywords are accepted:
        <ul>
            <li><span>Accessory</span> - Name of an exercise; all ascii characters accepted</li>
            <li><span>Weight</span> - If this is set to a number, it will be ignored.
                Should be empty or set to a word (ex. band, bw, bybar, etc.)
            <li><span>Set 1</span> - Number of reps for first set of this exercise. (ex. 6, 10R/L, etc.)</li>
            <li><span>Set 2</span> - Number of reps for second set of this exercise</li>
            <li><span>Variance</span> - Percent of client's body weight for this exercise
                (ex. Body Weight:150lbs & Variance:0.5 -> Weight:75lbs)</li>
        </ul>
        <h4>
            Example
        </h4>
        <div class="media">
            #TODO place header pic here
        </div>
        The first level for this section will be shown to the client as follows:
        <div class="media">
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Primary</h3>
    </div>
    <div class="panel-body">
        For each week of a workout, a primary exercise can be added for the client to perform at the beginning of the workout.
        The primary section is similar to the other sections, and the headers of a primary section are as follows:
        <ul>
            <li><span>Accessory</span> - Name of an exercise; all ascii characters accepted</li>
            <li><span>Weight</span> - If this is set to a number, it will be ignored.
                Should be empty or set to a word (ex. band, bw, bybar, etc.)
            <li><span>Set 1</span> - Number of reps for first set of this exercise. (ex. 6, 10R/L, etc.)</li>
            <li><span>Set 2</span> - Number of reps for second set of this exercise</li>
            <li><span>Variance</span> - Percent of client's body weight for this exercise
                (ex. Body Weight:150lbs & Variance:0.5 -> Weight:75lbs)</li>
        </ul>
        <h4>
            Example
        </h4>
        <div class="media">
            #TODO place header pic here
        </div>
        
        #TODO download link
    </div>
</div>


<div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">Full Spreadsheet Example</h3>
    </div>
    <div class="panel-body">
        <h4>
            Example
        </h4>
        <div class="media">
            #TODO place header pic here
        </div>
        
        #TODO download link
    </div>
</div>


{{=BEAUTIFY(response._vars)}}


<style>
.panel {
  padding: 15px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-heading {
  padding: 10px 15px;
  margin: -15px -15px 15px;
  font-size: 17.5px;
  font-weight: 500;
  background-color: #f5f5f5;
  border-bottom: 1px solid #dddddd;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.panel-footer {
  padding: 10px 15px;
  margin: 15px -15px -15px;
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.panel-primary {
  border-color: #428bca;
}

.panel-primary .panel-heading {
  color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
}

.panel-success {
  border-color: brown;
}

.panel-success .panel-heading {
  color: #ffffff;
  background-color: brown;
  border-color: brown;
}

.panel-warning {
  border-color: #fbeed5;
}

.panel-warning .panel-heading {
  color: #ffffff;
  background-color: #fcf8e3;
  border-color: #fbeed5;
}

.panel-danger {
  border-color: purple;
}

.panel-danger .panel-heading {
  color: #ffffff;
  background-color: purple;
  border-color: purple;
}

.panel-info {
  border-color: rgb(165, 94, 0);
}

.panel-info .panel-heading {
  color: #ffffff;
  background-color: rgb(165, 94, 0);
  border-color: rgb(165, 94, 0);
}

.panel-categories {
  border-color: green;
}

.panel-categories .panel-heading {
  color: #ffffff;
  background-color: green;
  border-color: green;
}

.panel-general {
  border-color: grey;
}

.panel-main .panel-heading {
  color: #ffffff;
  background-color: navy;
  border-color: navy;
}

.panel-main .panel-heading {
  color: #ffffff;
  background-color: navy;
  border-color: navy;
}


span {
    font-weight:bold;
}
}
</style>
