{{extend 'layout.html'}}
<h1>Add Clients</h1>

<a href="{{=URL('manage', 'my_workouts')}}"
   class="btn btn-primary">&lt;&lt; Go Back</a><p></p>

<div>
    <p>Search for users by name or email</p>
    {{=form}}
</div>

<table class="table">
    <h4>
        USERS
    </h4>
{{for row in records:}}
    <tr>
        <td>{{=row.first_name}}</td>
        <td>{{=row.last_name}}</td>
        <td>{{=row.email}}</td>
        <td>{{=A('Add Client' if not is_member(id_workout, row.id) else 'Remove Client',
            _class="btn btn-primary btn-small",callback=URL('modify_membership',args=(id_workout, row.id)),
            target="<self>")}}</td>
    </tr>
{{pass}}
</table>

{{=A('Add All Clients',
_class="btn btn-primary btn-small",_href=URL('modify_membership',args=(id_workout, 0)),
target="<self>")}}
{{=A('Remove All Clients',
_class="btn btn-primary btn-small",_href=URL('modify_membership',args=(id_workout, -1)),
target="<self>")}}
