{{extend 'layout.html'}}
<h1>My Clients</h1>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" style="max-width: 1000px">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Weight</th>
                <th>1 Rm</th>
            </tr>
        </thead>
        <tbody>
            {{clientNum = 0}}
            {{for client in clients:}}
                {{clientNum += 1}}
                <tr>
                    <td>{{=client.first_name + " " + client.last_name}}</td>
                    <td>{{=client.email}}</td>
                    <td>{{=client.weight}}</td>
                    <td><form style="margin:0 0 0 0;">
                            <input style="width:50px;" type="text" name="oneRm" value="{{=getOneRm(client.id)}}"
                                   onkeyup="ajax('{{=URL('setOneRm', args=[client.id, clientNum])}}', ['oneRm'])">
                        </form>
                    </td>
                </tr>
            {{pass}}
        </tbody>
    </table>
    <a href="{{=URL('manage', 'manage_clients')}}"
       class="btn btn-primary">Add Clients</a>
</div>
