{{extend 'layout.html'}}

<h1>Workout Exercises</h1>
<a href="{{=URL('manage', 'my_workouts')}}"
   class="btn btn-primary">&lt;&lt; Go Back</a><p></p>

<div class="target">
<table class="table">
    <tr>
        <th>Name</th>
        <th>Video</th>
        <th>Notes</th>
        <th>Edit</th>
    </tr>
{{for exercise in exercises:}}
    <tr>
        <td>{{=exercise.name}}</td>
        <td>{{=exercise.video_file}}</td>
        <td>{{=exercise.notes}}</td>
        <td>{{=A('Manage Reps',
                _href=URL("manage_reps",
                args=[id_workout, exercise.id]))}}</td>
    </tr>
{{pass}}
</table>

<h2>Add Exercises to Workout</h2>

<p>Search for exercises by name or keyword</p>
{{=form}}

<table class="table">
{{for row in records:}}
    <tr>
        <td>{{=row.id}}</td>
        <td>{{=row.name}}</td>
        <td>{{=A('Add Exercise' if not in_workout(id_workout, row.id) else 'Remove Exercise',
            _class="btn btn-primary btn-small",_href=URL('modify_exercise_list',args=(id_workout, row.id)),
            target="<self>")}}</td>
    </tr>
{{pass}}
</table>

</div>
